@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.wmde-markdown {
  background-color: transparent !important;
  font-size: 15px !important;
  line-height: 1.7 !important;
}

[data-color-mode*='dark'] .wmde-markdown {
  background-color: transparent !important;
}

.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 15px !important;
  line-height: 1.7 !important;
}